* {
  /* => all elements should have padding and border included in total width and
     height */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "lucida console", monospace;
  outline: 1px solid red !important;
  background-color: #ccc;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  font-weight: bold
}

article {
  /*text-align: justify;*/
  /* max-width: 40em;
  min-width: 30em; */
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word; /* renamed property in CSS3 draft spec */
  width: 99%;
  word-wrap: break-word; /* all browsers since IE 5.5+ */
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.cover-img {
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 1.5em;
}

.indent {
  text-indent: 30px;
}

table {
  border-collapse: collapse;
  max-width: 700px;
}